fastapi
alembic
psycopg2
asyncpg
SQLAlchemy
fastapi-users
fastapi-users-db-sqlalchemy
uvicorn
pydantic_settings
PyPDF2
python-docx
llama_index
transformers
qdrant-client
sentence_transformers
langchain
langchain_google_genai
langchain_openai